body{
background:#eef2f7;
font-family:Arial;
}

.container{
width:70%;
margin:40px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 15px rgba(0,0,0,.2);
}

h1{
text-align:center;
color:#0f172a;
}

input[type=file],
input[type=text]{
width:100%;
padding:12px;
margin-top:15px;
margin-bottom:15px;
font-size:16px;
}

button{
width:100%;
padding:14px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
font-size:17px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

.answer{
margin-top:20px;
background:#f8fafc;
padding:20px;
border-radius:8px;
}

.msg{
margin-top:20px;
color:green;
font-weight:bold;
}